@model List<Testflight.Web.Models.ProjectViewModel>
@{
    ViewBag.Title = "Home";
}
@section scripts
{
    <script type="text/javascript" src="@Url.Content("Scripts/Home.js")"></script>
}
<table>
    <thead>
        <tr>
            <th>
                Project
            </th>
            <th>
                Configuration
            </th>
            <th>
                Build status
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            foreach (var configuration in project.Configurations)
            {
            <tr>
                <td>
                    @project.Name
                </td>
                <td>
                    @configuration.Name
                </td>
                <td class="build-status">
                    <p id="status-running" style="display: none; color: green;">
                        Running
                    </p>
                    <p id="status-not-running" style="display: none;">
                        Idle
                    </p>
                </td>
                <td>
                    <a href="#" class="query-build-link" id="@configuration.Id">Query build</a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>
