@model Testflight.Model.Configuration
@{
    ViewBag.Title = "Edit";
}
<h2>
    Edit</h2>
@{
    Html.RenderPartial("_Form");
}
<div>
    @Html.ActionLink("Back to List", "Details", "Project", new { id = Model.ProjectId }, null)
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
